@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono&family=Roboto&display=swap');


body {
    font-family: 'Roboto', sans-serif;
    background-color: antiquewhite;
}


.heading {
    max-width: 3000px;
    background-color: white;
    padding: 20px;
    border-bottom: 2px solid black;
    letter-spacing: 1px;
    text-align: center;
}

.lnk {
    color: black;
    text-decoration: none;
    transition: all .2s;
}

.lnk:visited {
    color: black;
}

.lnk:active {
    color: white;
}

.lnk:hover {
    color: indianred;
    font-size: 20px;
}

.card {
    padding-bottom: 20px;
}

h5 {
    font-size: 20px;
    font-weight: normal;
    font-style: italic;
    color: indianred;
}

.code {
    background-color: #2d2a2d;
    max-width: 700px;
    padding: 20px;
    font-family: 'JetBrains Mono';
    color: #97a3a6;
    line-height: 150%;
}

.purple {
    color: #7c74a3;
}

.blue {
    color: #426e82;
}

.orange {
    color: #ba6733;
}

.green {
    color: #61825c;
}

.yellow {
    color: #e6b963;
}

.red {
    color: #813f29;
}

.lnk2 {
    color: blueviolet;
    text-decoration: none;
    transition: all .2s;
}

.lnk2:hover {
    font-size: 20px;
    color: red;
}

.heading p {
    text-align: left;
}